.column {
  display inline-block;
  float left;
  margin 0 0 0 3.06748466257669%;
  list-style none;

  &_third {
    &_one {
      width 31.28834355828221%;
    }
    &_two {
      width 65.6441717791411%;
    }
  }

  &_quarter {
    &_one {
      width 22.69938650306748%;
    }
    &_two, .column_half {
      width 48.46625766871166%;
    }
    &_three {
      width 74.23312883435584%;
    }
  }
}

.first {
  margin-left 0;
  clear left;
}