node_modules/
libs/
.idea/

server/session.js
db/data.json
production/*.json
public/index.min.*
public/img/tmp/
public/img/carousel/
public/uploads/
common.blocks/jquery/__config/
public/jquery/
server/static/

# bem
.enb/tmp/
*.bundles*/*/*.*
!*.bundles*/*/*.bemdecl.js
