.info__quick
  font-size .8rem;
  text-transform uppercase;
  float right;

  &:last-child
    margin-right 0;

  .label
    vertical-align top;

  strong
    display block;
    margin 0 0 -5px 0;
    padding 0;
    font-size .9rem;