.topbar
  font-size 12px;
  line-height normal;
  min-height: 27px;
  &__right
    float right;
    padding 6px 0 6px 0;
  &__left
    float left;
    padding 6px 0 6px 0;
    & .link
      margin-right 20px;
      &:last-child
        margin-right 0;

  &__login .link
    cursor: pointer;

  &__logout .link
    cursor: pointer;