.page
  margin 0;
  padding 0;
  font-size 14px;
  line-height 1.6em;
  font-family Verdana, Geneva, sans-serif;
  &__root
    color #BEBEBE;
    background-color #393939;
    overflow-x hidden;
    overflow-y scroll;
    display flex;
    flex-direction column;
    min-height 100vh;