.wrapper_color
  &_green, &_green .link
    color #FFFFFF;
    background-color #7EB347;
  &_gray
    color #888888;
    background-color #FFFFFF;
  &_double-gray, &_double-gray .link
    color #BEBEBE;
    background-color #393939;