.link_type_footer
  display: block;
  text-align: center;
  margin-bottom: 40px;
  &:last-child
    margin-bottom: 0;
  & .icon
    display: block;
    margin: 0 auto 10px;
    width: 64px;
    height: 64px;
    border-radius: 32px;