.dialog {
  width: 350px;
  padding: 30px;
  display: none;
  &__buttons {
    margin-top: 30px;
    & .button {
      margin-right: 9px;
      min-width: 85px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}