.image_float {
  &_left {
    float left;
    clear left;
    margin 0 15px 10px 0;
  }
  &_right {
    float right;
    clear right;
    margin 0 0 10px 15px;
  }
  &_center {
    display: block;
    float: none;
    clear: none;
    margin: 0 auto;
  }
}