.login
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  & .input
    margin-bottom: 10px;
    & .input__control
      text-align: center;
  & .button
    display: block;
    margin: 0 auto;

.popup
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000;