.carousel__paginator-button {
  cursor: pointer;
  border-radius: 6px;
  width: 8px;
  height: 8px;
  background: #bbbbbb;
  display: inline-block;
  margin: 0 6px;
  border: 2px solid #ffffff;
  opacity: 0.5

  &_state_active {
    background: #ffffff;
    border: 3px solid #393939
    width: 6px;
    height: 6px;
    opacity: 0.9;
  }

  &:hover {
    opacity: 0.9;
  }
}